* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family:"Roboto", sans-serif;
    line-height: 1.6;
    color:black;
    background-color:rgba(230, 233, 236, 0.5);
    height: 100%; 
    margin: 0;
    height: 100%;
    min-height: 100%;
}

html{
    height: auto;
}

body {
  background: radial-gradient(circle, #d2bbb3, #0d1d6b); 
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;

  min-height: 100vh;
}

section, div {
  background-color: transparent;
}

nav {
    background-color:slategray;
    padding: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: black;
}

#home {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)), url('linkprof.jpeg') center/cover no-repeat;   
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #3b393914;
}

#about img {
    display: block;
    margin: 1rem auto;
    border-radius: 50%;
    border: 3px solid #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#projects ul, #experiences ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    list-style: none;
    padding: 0;
}


#projects ul li:hover, #experiences ul li:hover {
    transform: translateY(-5px);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

#projects li {
    flex: 0 0 calc(25% - 3rem); 
}

#home h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

#home p {
    font-size: 1.5rem;
}