* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:"Roboto", sans-serif;
    line-height: 1.6;
    color:white;
    background-color:rgba(230, 233, 236, 0);

}

nav {
    background-color:slategray;
    padding: 1rem;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: black;
}

#home {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('linkprof.jpeg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}

#home h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

#home p {
    font-size: 1.5rem;
}